body, html, #root, .app{
    height: 100%;
    width: 100%;
    background-color: #0b1423
}


.user-code{
    font-family: 'Source Code Pro', monospace;
    color: whitesmoke;
    height: 50vh;
    overflow: scroll;
}
.highlight{
    color: lightgreen;
    font-weight: 800;
    box-shadow: 0px 1px 0px  gray
}
.tab{

    padding-left:10px;
    padding-right:10px; 
}
.textarea{
    font-size: .75rem !important
}
.call-stack{
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}
.iterator-control{
    height: 5vh
}
.identifiers{
    height: 100% !important
}

.values-container{
    height: 37.5vh
}
.step-view{
    height: 10%
}
.array-struct{
    display: flex;
    flex-direction: row;
    margin: 5px auto;
    max-width: 60vw;
    overflow: scroll;
 
}
.array-val{
    border: 1px solid white;
    padding: 10px;
}